#web-monetization-banner {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #eee;
}

#web-monetization-banner .web-monetization {
  display: inline-block;
  margin-left: .25rem;
}